<form action="put" path="/electives/{{id}}">
    <input type="text" value="{{title}}" name="title"/>
    <input type="text" value="{{description}}" name="description"/>
    <input type="text" value="{{lecturer}}" name="lecturer"/>
    <input type="submit" value="Submit"/>
</form>